@model DeletePageModel
<br>
<div id="newpost">
    <form action="/thread/deletepost">
        @Html.AntiForgeryToken()
        <input type="password" name="password" placeholder="Password...">
        <input type="hidden" name="postid" value="@Model.PostId">
        <input type="hidden" name="board_tag" value="@Model.BoardTag">
        <input type="submit" placeholder="Delete Post" />
    </form>
    <br>
    <a href="/board/@Model.BoardTag">Back to board</a>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @await Html.PartialAsync("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.Config.SiteConfig.SiteName} - Delete post",
        Config = Model.Config,
        Description = "Delete a post",
        Image = Model.Config.SiteConfig.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}