@model LoginPageModel

<!--TEMP PLACEHOLDER PAGE-->

<div id="addwh">
    <h1 class="whhone">Login</h1>
    <div id="newpost" class="whdiv">
        <form id="whsubform" method="post" action="/account/login" style="overflow:auto;">
            @Html.AntiForgeryToken()
            <input class="whinp" type="text" name="UsernameOrEmail" placeholder="Username/Email">
            <input oncopy="return false" oncut="return false" class="whinp" type="password" name="Password" placeholder="Password" />
            <input type="submit" />
        </form>
        <br>
    </div>
    <br />
    <br />
    <a href="/" style="margin-left:47%;">Back to Home</a>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @Html.Partial("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.Config.SiteName} - Login",
        Config = Model.Config,
        Description = $"Login page for {Model.Config.SiteName}",
        Image = Model.Config.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}