@model LoginViewModel
@{ 
    ViewBag.Title = $"{Model.ServerConfig.SiteConfig.SiteName} - Login";
    ViewBag.Description = $"Login page for {Model.ServerConfig.SiteConfig.SiteName}";
}

<div id="addwh">
    <h1 class="phhone">Login</h1>
    <div id="newpost" class="phdiv">
        <form id="phform" method="post" action="/account/login" style="overflow:auto;">
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(x => x.Username, new { @class = "required", placeholder = "Username" })
            @Html.TextBoxFor(x => x.Password, new { @class = "required", type = "password", placeholder = "Password" })
            <label for="RememberMe">Remember Me? </label>
            @Html.CheckBoxFor(x => x.RememberMe, new { @class = "switchery", name = "RememberMe" })
            <input type="submit" />
        </form>
        <br>
    </div>
    <br />
    <br />
    <a href="/" style="margin-left:47%;">Back to Home</a>
    @*@if (Model.DiscordOAuthSettings != null)
    {
        <a href="/login/discord">Login using discord</a>
    }*@
</div>