@model Chandler.ServerConfig
<!--TEMP PLACEHOLDER PAGE-->

<div id="addwh">
    <h1 class="phhone">Register</h1>
    <div id="newpost" class="phdiv">
        <form id="phform" method="post" action="/account/register" style="overflow:auto;">
            @Html.AntiForgeryToken()
            <input class="phinp" type="text" name="Username" placeholder="Username">
            <input class="phinp" type="text" name="Email" placeholder="Email">
            <input oncopy="return false" oncut="return false" class="phinp" type="password" name="Password" placeholder="Password" />
            <input type="submit" />
        </form>
        <br>
    </div>
    <br />
    <br />
    <a href="/" style="margin-left:47%;">Back to Home</a>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @await Html.PartialAsync("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.SiteConfig.SiteName} - Register",
        Config = Model,
        Description = $"Login page for {Model.SiteConfig.SiteName}",
        Image = Model.SiteConfig.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}