@model WebhooksPageModel

<div id="addwh">
    <h1 class="whhone">Add Webhook</h1>
    <div id="newpost" class="whdiv">
        <form id="whsubform" action="/formsub" style="overflow:auto;">
            <input type="text" name="url" placeholder="Webhook URL">
            <input type="text" name="boardtag" placeholder="Board Tag">
            <input type="text" name="threadid" placeholder="Thread ID">
            <input type="submit" />
        </form>
        <br>
    </div>
    <br />
    <h1 class="whhone">Remove Webhook</h1>
    <div id="newpost" class="whdiv">
        <form id="whsubform" action="/formunsub" style="overflow:auto;">
            <input type="text" name="url" placeholder="Webhook URL">
            <input type="submit" />
        </form>
        <br>
    </div>
    <br>
    <br>
    <a href="/" style="margin-left:47%;">Back to Home</a>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @Html.Partial("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.Config.SiteName} - Discord Webhooks",
        Config = Model.Config,
        Description = $"Configure Discord webhooks for {Model.Config.SiteName}",
        Image = Model.Config.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}