<div id="addwh">
    <h1 class="whhone">Add Webhook</h1>
    <div id="newpost" class="whdiv">
        <form id="whsubform" action="/formsub">
            <input type="text" name="url" placeholder="Webhook URL">
            <input type="text" name="boardtag" placeholder="Board Tag">
            <input type="text" name="threadid" placeholder="Thread ID">
            <input type="submit" />
        </form>
        <br>
    </div>
    <br>
    <h1 class="whhone">Remove Webhook</h1>
    <div id="newpost" class="whdiv">
        <form id="whsubform" action="/formunsub">
            <input type="text" name="url" placeholder="Webhook URL">
            <input type="submit" />
        </form>
        <br>
    </div>
    <br>
    <br>
    <a href="/" style="margin-left:47%;">Back to Home</a>
</div>
