@*@model Chandler.ServerConfig
<!--TEMP PLACEHOLDER PAGE-->

<div style="text-align:center;">
    <h1 class="phhone">Delete Account</h1>
    <p>Confirm your username and password to delete your account</p>
    <div id="newpost" class="phdiv">
        <form id="phform" method="post" action="/account/delete" style="overflow:auto;">
            @Html.AntiForgeryToken()
            <input class="phinp" type="text" name="UsernameOrEmail" placeholder="Username/Email">
            <input oncopy="return false" oncut="return false" class="phinp" type="password" name="Password" placeholder="Password" />
            <input type="submit" />
        </form>
        <br>
    </div>
    <br />
    <br />
</div>
<a href="/" style="margin-left:47%;">Back to Home</a>*@