:root {
    --text-colour: #ffffff;
    --body-colour: #151515;
    --border-colour: #585858;
    --secondary-bg-colour: #262626;
    --hov-colour: #536253;
    --link-colour: #BA0000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: lightgray;
    background-color: var(--body-colour);
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}

a {
    color: var(--link-colour);
}

#boardmeta {
    padding-top: 50px;
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
}

#boardthreads {
    max-width: 1000px;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
}

.thread {
    margin-bottom: 15px;
    border: 3px solid var(--border-colour);
    word-wrap: break-word;
    background-color: var(--secondary-bg-colour);
    border-radius: 5px;
}

.threadheader {
    border-bottom: 3px solid var(--border-colour);
    word-wrap: break-word;
    color: darkgray;
    padding: 2px;
}

.threadtext {
    padding: 20px;
    word-wrap: break-word;
}

.comment {
    padding: 15px;
    padding-left: 30px;
    border: 2px solid var(--border-colour);
    margin: 5px;
    word-wrap: break-word;
    background-color: var(--body-colour);
    border-radius: 5px;
}

.commenttext {
    padding-left: 10px;
    word-wrap: break-word;
}

#newpost {
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

.board_img {
    max-height: 250px;
    max-width: 90%;
}

.imgsmall {
    max-height: 100px;
    max-width: 70%;
}

.imglarge {
    max-height: 600px;
    max-width: 70%;
}

#home {
    border: 2px solid var(--border-colour);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--secondary-bg-colour);
    border-radius: 5px;
}

#sitelogo {
    margin: 25px;
}

input, textarea, button {
    margin: auto;
    display: block;
    margin-top: 15px;
}

#sitename {
    margin-bottom: 15px;
}

#pages {
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
    display: block;
}

.threadtitle
{
    color: var(--text-colour);
}

option {
    text-align: center;
    background-color: var(--secondary-bg-colour);
    color: var(--text-colour);
}

.whdrop {
    text-align: center;
    background-color: var(--secondary-bg-colour);
    color: var(--text-colour);
    width: 150px;
}

.whdrop:hover {
    border-color: var(--border-colour);
}

.whhone {
    text-align: center;
    padding-top: 5%;
}

.whdiv {
    border: solid 2px white;
    width: 25%;
    height: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.alert {
    padding: 20px;
    background-color: var(--secondary-bg-colour);
    color: var(--text-colour);
    border: 5px solid var(--text-colour);
    border-radius: 2%;
    width: 20vw;
    height: 10vh;
    position: absolute;
    left: 40vw;
    right: 50vw;
    top: 25vh;
    z-index: 5;
    overflow: auto;
    transition: 0.3s;
}

.closebtn {
    margin-left: 15px;
    margin-bottom: 10px;
    color: var(--text-colour);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 6;
}

.closebtn:hover {
    color: black;
}

.nav-container {
    border: 5px solid var(--border-colour);
    border-radius: 3px;
}

.navbar-data {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline;
    float: left;
    padding: 0px 2% 0px 2%;
}

.navbar-item a.navbar-item-link:hover {
    background-color: var(--link-colour);
}

.navbar-item-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
}

.nav-pel {
    color: white;
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
}