*{
    padding: 0;
    margin: 0;
}

body{
    color: lightgray;
    background-color: #151515;
    font-family: arial,helvetica,sans-serif; 
    font-size: 10pt;
}

a{
    color: #BA0000;
}

#boardmeta{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
}

#boardthreads{
    max-width: 1000px;
	margin: auto;
    text-align: left;
    word-wrap: break-word;
}

.thread{
    margin-bottom: 15px;
    border: 3px solid #585858;
    word-wrap: break-word;
    background-color: #262626;
}

.threadheader{
    border-bottom: 3px solid #585858;
    word-wrap: break-word;
    color: darkgray;
    padding: 2px;
}

.threadtext{
    padding: 20px;
    word-wrap: break-word;
}

.comment{
    padding: 15px;
    padding-left: 30px;
    border: 2px solid #585858;
    margin: 5px;
    word-wrap: break-word;
    background-color: #151515;
}

.commenttext{
    padding-left: 10px;
    word-wrap: break-word;
}

#newpost{
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

.imgsmall{
	max-height: 100px;
}

.imglarge{
	max-height: 600px;
}

#home{
    border: 2px solid #585858;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #262626;
}

#sitelogo{
    margin: 25px;
}

input, textarea, button{
    margin: auto;
    display: block;
    margin-top: 15px;
}

#sitename{
    margin-bottom: 15px;
}